@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@isDark" Theme="CustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
    body {
        background: #000000;
    }
</style>

<MudLayout>
    <MudLayout>
        <NavMenu />

        <MudMainContent>
            <MudContainer>
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

</MudLayout>

@code {
    private MudThemeProvider? _mudThemeProvider;
    private bool isDark = true;

    private void GoToHome() => navigationManager.NavigateTo($"/");

    MudTheme CustomTheme = new MudTheme()
        {
            PaletteDark = new PaletteDark()
            {
                Primary = "#00a884",
                Tertiary = "#00a884"
            }
        };
}
